<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm mới phim</title>
</head>
<body>
<section layout:fragment="content">
    <h3 class="mb-4 text-center">Thêm mới phim</h3>
    <div class="text-center text-danger" th:text="${message}"></div>
    <form action="#" method="post" th:action="@{/admin/movie/add}" th:object="${movie}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Tên phim</label>
                    <input class="form-control" th:field="*{name}" type="text"/>
                    <span class="text-danger" th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
                </div>
                <div class="form-group">
                    <label>Hình</label>
                    <input class="form-control" th:field="*{image}" type="text"/>
                    <span class="text-danger" th:errors="*{image}" th:if="${#fields.hasErrors('image')}"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Ngày chiếu</label>
                    <input class="form-control" th:field="*{openDate}" type="text"/>
                    <span class="text-danger" th:errors="*{openDate}" th:if="${#fields.hasErrors('openDate')}"></span>
                </div>
                <div class="form-group">
                    <label>Trailer</label>
                    <input class="form-control" th:field="*{trailer}" type="text"/>
                    <span class="text-danger" th:errors="*{trailer}" th:if="${#fields.hasErrors('trailer')}"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>Thông tin phim</label>
                    <textarea class="form-control" rows="5" th:field="*{description}"></textarea>
                    <span class="text-danger" th:errors="*{description}"
                          th:if="${#fields.hasErrors('description')}"></span>
                </div>
            </div>
            <div class="col-12 mt-3">
                <button class="btn btn-success" type="submit">Lưu lại</button>
                <a class="btn btn-secondary" th:href="@{/admin/movie}">Quay lại</a>
            </div>
        </div>
    </form>
</section>
</body>
</html>