<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Danh sách phim</title>
</head>
<body>
	<section layout:fragment="content">
		<h3 class="mb-3">Danh sách phim</h3>
		<div class="row">
			<div class="col-md-8">
				<a th:href="@{/admin/movie/add}" class="btn btn-primary">Thêm mới</a>
			</div>
			<div class="col-md-4">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Tìm kiếm..." />
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2"> <i
							class="fa fa-search"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<table class="table table-bordered table-hover mt-3">
			<thead>
				<tr>
					<th>STT</th>
					<th>Tên phim</th>
					<th>Ngày chiếu</th>
					<th>Hình</th>
					<th>#</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${movies.empty}">
					<td colspan="5">Chưa có bản ghi nào!</td>
				</tr>
				<tr th:each="item : ${movies}">
					<td th:text="${itemStat.index + 1}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.openDate}"></td>
					<td>
						<img th:src="@{${item.image}}" height="50" />
					</td>
					<td>
						<a th:href="@{/admin/movie/edit/{id}(id=${item.id})}" class="btn btn-sm btn-info">
							<i class="fa fa-pencil-square-o"></i>
						</a> 
						<a th:href="@{/admin/movie/delete/{id}(id=${item.id})}" class="btn btn-sm btn-danger"> 
							<i	class="fa fa-trash-o"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>