<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang chủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <th:block th:replace="fragments/styles"/>
</head>

<body>

<div class="d-flex justify-content-between">
    <!-- SIDE BAR -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div id="admin-wrapper">
        <!-- HEADER -->
        <div th:replace="fragments/navbar :: navbar"></div>

        <!-- CONTENT -->
        <section class="p-3" id="admin-content" layout:fragment="content"></section>
    </div>
</div>
<th:block th:replace="fragments/scripts"/>
<th:block layout:fragment="scripts"/>
</body>

</html>