<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/default">
<head>
<title>Thêm mới rạp chiếu phim</title>
</head>
<body>
	<section layout:fragment="content">
		<h3 class="mb-4 text-center">Thêm mới rạp chiếu phim</h3>
		<div class="text-center text-danger" th:text="${message}"></div>
		<form method="post" th:object="${cinema}" th:action="@{/admin/cinema/add}" action="#">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label>Cụm rạp</label>
						<select th:field="*{cineplexId}" class="form-control">
						    <option th:each="item : ${cineplexs}" th:value="${item.id}" th:text="${item.name}"
						      th:selected="${item.id == cineplexId}">
						     </option>
						</select>
						<span class="text-danger" th:if="${#fields.hasErrors('cineplexId')}" th:errors="*{cineplexId}"></span>
					</div>
					<div class="form-group">
						<label>Địa chỉ</label> 
						<input type="text" th:field="*{address}" class="form-control" />
						<span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
					</div>
					<div class="form-group">
						<label>Điện thoại</label> 
						<input type="text" th:field="*{phone}" class="form-control" />
						<span class="text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label>Tên rạp</label> 
						<input type="text" th:field="*{name}" class="form-control" />
						<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
					<div class="form-group">
						<label>Hình</label> 
						<input type="hidden" th:field="*{image}" />
						<input type="file" id="fileUpload" data-target="#image" data-img="#imgdp" class="form-control"/>
						<span class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
						<img class="mt-2" th:src="@{${cinema.image}}" id="imgdp" height="100" />
					</div>
				</div>
				<div class="col-12">
					<div class="form-group">
						<label>Mô tả</label> 
						<textarea rows="5" th:field="*{description}" class="form-control"></textarea>
						<span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Lưu lại</button>
						<a class="btn btn-secondary" th:href="@{/admin/cinema}">Quay lại</a>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>