<!DOCTYPE html>
<html layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách thành viên</title>
</head>
<body>
<section layout:fragment="content">
    <h3 class="mb-3">Danh sách thành viên</h3>
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-primary" th:href="@{/admin/user/add}">Thêm mới</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input class="form-control" placeholder="Tìm kiếm..." type="text"/>
                <div class="input-group-append">
						<span class="input-group-text" id="basic-addon2"> <i
                                class="fa fa-search"></i>
						</span>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3">
        <thead>
        <tr>
            <th>STT</th>
            <th>Họ Tên</th>
            <th>Email</th>
            <th>Avatar</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="5">Chưa có bản ghi nào!</td>
        </tr>
        <tr th:each="item : ${users}">
            <td th:text="${itemStat.index + 1}"></td>
            <td th:text="${item.fullname}"></td>
            <td th:text="${item.email}"></td>
            <td>
                <img height="150" width="150" th:src="@{${item.avatar}}"/>
            </td>
            <td>
                <a class="btn btn-sm btn-info" th:href="@{/admin/user/edit/{id}(id=${item.id})}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn btn-sm btn-danger" th:href="@{/admin/user/delete/{id}(id=${item.id})}">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>